includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: true

    parallel:
        processTimeout: 600.0

    paths:
        - src
        - tests

    # The level 8 is the highest level
    level: 8

    # it is impossible to map toArray()
    checkMissingIterableValueType: false

    excludePaths:
            - 'tests/Feature/Testing/Commands/MakeExpectationCommand/*.php'

    ignoreErrors:
        # CastsAttributes template was added in Laravel 9.49 (remove when we drop L9 support)
        -
            message: "#^PHPDoc tag @implements contains generic type Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\CastsAttributes\\<float, float\\|int\\|string\\|null\\> but interface Illuminate\\\\Contracts\\\\Database\\\\Eloquent\\\\CastsAttributes is not generic\\.$#"
            count: 1
            path: src/Database/Models/Casts/FloatCast.php
            reportUnmatched: false

