parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property LaraStrict\\\\Http\\\\Resources\\\\JsonResource\\<TResource\\>\\:\\:\\$preserveKeys\\.$#"
			count: 1
			path: src/Http/Resources/JsonResource.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Http/Resources/JsonResource.php

		-
			message: "#^Method LaraStrict\\\\Http\\\\Resources\\\\JsonResourceCollection\\:\\:toArray\\(\\) return type with generic interface Illuminate\\\\Contracts\\\\Support\\\\Arrayable does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Http/Resources/JsonResourceCollection.php

		-
			message: "#^Cannot cast array\\|string to string\\.$#"
			count: 1
			path: src/Testing/Actions/GetNamespaceForStubsAction.php

		-
			message: "#^Calling PHPStan\\\\PhpDoc\\\\PhpDocStringResolver\\:\\:resolve\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/Testing/Actions/ParsePhpDocAction.php

		# forward compatibility
		-
			message: "#^Method LaraStrict\\\\Testing\\\\Assert\\\\AssertExpectationTestCase\\:\\:beforeStartAssertExpectationManager\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Testing/Assert/AssertExpectationTestCase.php
		# forward compatibility

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with false and 'Hook should be…' will always evaluate to false\\.$#"
			count: 1
			path: tests/Feature/Testing/Commands/MakeExpectationCommandRealTest.php

		-
			message: "#^Method Tests\\\\LaraStrict\\\\Feature\\\\Translations\\\\InvalidServiceProviderTranslations\\:\\:getProviderClass\\(\\) should return class\\-string\\<LaraStrict\\\\Providers\\\\AbstractServiceProvider\\> but returns string\\.$#"
			count: 1
			path: tests/Feature/Translations/InvalidServiceProviderTranslations.php
