includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - phpstan-baseline.neon

parameters:

    parallel:
        processTimeout: 600.0

    paths:
        - src
        - tests

    # The level 8 is the highest level
    level: 8

    # it is impossible to map toArray()
    checkMissingIterableValueType: false

    excludePaths:
            - 'tests/Feature/Testing/Commands/MakeExpectationCommand/*.php'

