parameters:
    level: max

    # Due the tests between Laravel versions
    reportUnmatchedIgnoredErrors: true

    paths:
        - src
        - tests

    configDirectories:
        - src/Docker/Config
        - tests/laravel_config

    excludePaths:
            - 'tests/Feature/Testing/Commands/MakeExpectationCommand/*.php'
